body {
    margin: 0;
}
.banner {
    background-color: rgb(255, 50, 0);
    height: 100px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
}

.reciept {
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
}